---
const response = await fetch("http://127.0.0.1:1337/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query {
          posts {
            data {
              id
              attributes {
                title
                slug
                body
                image {
                  data {
                    attributes {
                      formats
                    }
                  }
                }
              }
            }
          }
        }
      `,
  }),
});

const { data } = await response.json();
console.log(data);
---

{
  data.posts.data.map((post) => (
    <>
      <h2>{post.attributes.title}</h2>
      <p>{post.attributes.body}</p>
      <img
        src={`http://127.0.0.1:1337${post.attributes.image.data.attributes.formats.large.url}`}
      />
    </>
  ))
}
